/* top header */
#top-header {
  display: flex;
  justify-content: space-between;
  padding: 13pt 40pt;
  background: #2a2020;
  box-shadow: 0 0 5px 2px #655353;
}
#top-header a {
  color: #597c8e;
  text-decoration: none;
  transition: color 2s;
  padding: 5pt;
}
#top-header a:hover {
  color: white;
}
.icon {
  color: white;
  text-decoration: none;
  border-radius: 50%;
  background-color: #92b1bc;
}

/* middle header */
#middle-header {
  background: #e9f2f5;
}
.log-in-a {
  color: #597c8e;
  font-family: Arial, Helvetica, sans-serif;
}
.log-in-a:hover {
  color: black;
}
#total-quantity {
  left: 80%;
  top: 10%;
  padding: 0.2rem;
  background: #ed0e24;
}
.empty-cart {
  background: #cce5e7;
  width: 40%;
  display: block;
  padding: 8pt;
}
.bottom-cart {
  background: #cce5e7;
}
/* .cart-content:hover .empty-cart {
  display: block;
} */
.delete-btn {
  cursor: pointer;
}
.bottom-cart {
  display: none;
}
.view-cart {
  background: #e1edf1;
  box-shadow: 0px 0px 5px 2px #a2abbe;
  padding: 4pt 12pt !important;
}
.cart-content {
  width: 22rem;
  min-height: 100px;
  z-index: 100;
  top: 65%;
  left: 80%;
}
.item-img {
  width: 55pt;
  height: 30pt;
}
.cart-items {
  background: #cce5e7;
}
.delete-btn i {
  cursor: pointer;
}

/* bottom header */
#bottom-header {
  background: #617b84;
}

#navbar li {
  list-style-type: none;
  margin-right: 10px;
  padding: 15px;
  border-bottom: none;
  transition: border-bottom 1.5s;
}
#navbar li:hover {
  border-bottom: 5px solid white;
}
#bottom-header a {
  text-decoration: none;
  color: white;
}
