/* top header */
#top-header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 15px 50px;
}
#top-header a {
  color: #b2bcc1;
  text-decoration: none;
  padding: 8px;
  transition: color 2s;
  font-size: 11pt;
}
#top-header a:hover {
  color: white;
}
#top-header i {
  padding: 8px;
  font-size: 11pt;
}
/* middle header */
#middle-header {
  height: 100px;
}
/* bottom header */
#bottom-header {
  background: blue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#navbar li {
  list-style-type: none;
  margin-right: 10px;
  padding: 15px;
  border-bottom: none;
  transition: border-bottom 1.5s;
}
#navbar li:hover {
  border-bottom: 5px solid white;
}
#bottom-header a {
  text-decoration: none;
  color: white;
}
/* vertival menu */
#vertical-menu a {
  text-decoration: none;
  color: aliceblue;
  font-size: 15pt;
}
#vertical-menu li {
  list-style-type: none;
  width: 140px;
  padding: 25px;
  background: gray;
  border-bottom: 1px solid black;
  transition: background 2s;
  box-shadow: inset 0px 5px 7px 5px #1817173d;
}

#vertical-menu li:hover {
  background: lightblue;
}
/* aside settings */
#aside {
  width: 30px;
  background: #fff;
  /* margin-left: 100px; */
  position: fixed;
  z-index: 5;
  left: 20px;
  top: 50%;
}
.icon {
  color: white;
  text-decoration: none;

  font-size: 17pt;
  padding: 3px;
  margin: 5px;
  border-radius: 50%;
  background-color: #5f9ea0;
}
.icon i {
  padding: 3px;
  margin: 8px;
}
.icon-img {
  width: 80px;
  height: 80px;
  margin: 100px;
}
