@import url(../CSS/Header.css);
body {
  margin: 0;
  box-sizing: border-box;
}
.main-card {
  width: 18rem;
  height: 30rem;
}
.main-card img {
  height: 70%;
}
.purchaseItemImg {
  width: 75pt;
  height: 45pt;
}
.cart-items {
  background: #edede8;
}
.view-cart-btn {
  background: #d3d6a8;
  width: 40%;
  padding: 5pt 3pt;
  box-shadow: 0px 0px 5px 2px #8b8d71;
}
.delete-icon {
  cursor: pointer;
}
.add-cart-btn {
  color: white;
  background: #92b1bc;
  transition: color 2s;
}
.add-cart-btn:hover {
  color: black;
}
