@import url(../CSS/Header.css);
body {
  margin: 0;
  box-sizing: border-box;
}
.main-card {
  width: 18rem;
  height: 30rem;
}
.main-card img {
  height: 70%;
}
.add-cart-btn {
  color: white;
  background: #92b1bc;
  transition: color 2s;
}
.add-cart-btn:hover {
  color: black;
}
